*{
	margin:0;
	padding:0;
}
.clear:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.clear{zoom:1;}
body{
	font-size:14px;
	color:#666;
	background:#ededed;
}
li{
	list-style: none;
}
a{
	text-decoration:none;
	display:block;
	
}
#ball{
	width: 20px;
	height: 20px;
	border-radius:50%;
	background: gray;

	position: absolute;
	display: none;
	z-index:10002;
	opacity:0.5;
}
#shopCart a{
	transition:0;
}
.nav_sub{ 
	padding:20px 0;
	width:1220px;
	height:28px;
	margin:0 auto;
	position:relative;
	background:#EDEDED;
}
.nav_sub ul li{
	float:left;
	height:28px;
	padding:0 20px;
	background:url(../images/88df40ec05f4f2f3f7e8568aea6a9a8f.webp) right center no-repeat;
	background-size:2px;
	line-height:28px;
}
.nav_sub ul li a{
	color: #666;
}
.nav_sub ul li:hover a{
	color:blue;
}
.banner{
	width:1220px;
	height:554px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	background:#fff;
	border-radius:10px;
}
#phone .phone_show{
	height:0px;
	width:100%;
	position:absolute;
	background:#ededed;
	z-index:200;
	left:0;
	opacity:0;
	text-align:center;
	box-shadow:0 2px 3px #d2cbcb;
}
#phone .phone_show a{
	width:206px;
	height:240px;
	display:inline-block;
	border-right:1px solid #ccc;
	margin-top:40px;
	padding:0 20px;	
}
#phone .phone_show a img{
	width:206px;
	height:206px;
	position:relative;
	transition:0.2s;
	top:0px;
}
#phone .phone_show a:hover img{
	top:-5px;
}
#phone .phone_show a p{
	font-size:10px;
	color:gray;
}
#phone .phone_show a span{
	font-size:14px;
	font-weight:800;
	color:red;
}
.banner ul{
	position:absolute;
}
.banner ul li{
	width:1220px;
	height:554px;
	position:absolute;
	left:0;
	top:0;
	border:1px solid #ccc;
	border-radius:10px;

}
.banner ul li a{
}
.banner ul li img{
	display:block;
	width:1220px;
	height:554px;
}
.banner ol{
	position:absolute;
	left:580px;
	bottom:50px;
}
.banner ol li{
	width:10px;
	height:10px;
	float: left; 
	margin-right: 10px; 
	display: inline-block; 
	cursor: pointer; 
	// background: #ccc; 
	border: 1px solid gray;  
	z-index:10;
	border-radius:50%;
}
.bg_white {
	background: white;
 	// position: relative; 
 }
 .newshow{
 	height:200px;
 	width:1220px;
 	margin:0 auto;
 	margin-top:30px;

 }
 .newshow a{
 	display:block;
 	float:left;
 	border:1px solid #ccc;
 	border-left:0;
 	
 	
 }
 
 .newshow a:nth-of-type(1){
 	border-left:1px solid #ccc;

 }
 .newshow a img{
 	display:block;
 	width:303px;
 	height:200px;
 	transition:all 0.3s ease-out;

 }
 .newshow a:hover img{
 	box-shadow:0px 2px 20px black;
 	opacity:0.8;
  }
.goods{
 	width:1220px;
 	margin:0 auto;
 	margin-top:30px;
 	border:1px solid #ccc;
 	border-radius:5px;
 	margin-bottom:30px;
 	background:white;

 }
.goods>h5{
	width:1190px;
	height:60px;
	margin-left:30px;
	line-height:60px;
	font-size:18px;
	font-weight:400;
}
 .goods a{
 	transition:all 0.3s ease-out;
 	display:block;
 	width:304px;
 	height:429px;
 	float:left;
 	border-top:1px solid #ccc;
 	border-left:1px solid #ccc;
 	text-align:center;
 	position:relative;
 }
  .goods a:hover{
  	box-shadow:2px 2px 30px #bebfc8 inset;
  }
  .goods a:hover h5{
  	display:block;
  	z-index:100;
  }
  .goods a:hover h6{
  	display:block;
  	z-index:100;
  }
  .goods a h5{
  	width:100px;
  	height:30px;
  	border:1px solid #ccc;
  	z-index:100;
  	position:absolute;
  	top:330px;
  	left:40px;
  	font-size:10px;
  	border-radius:5px;
  	line-height:30px;
  	color:gray;
  	display:none;
  }
  .goods a>h5:hover{
  	background:#ccc;
  }
  .goods a>h6{
  	width:100px;
  	height:30px;
  	background:#6269bf;
  	z-index:100;
	position:absolute;
	top:330px;
	left:160px;
	font-size:12px;
	border-radius:5px;
	line-height:30px;
	color:#fff;
	display:none;

  }
  .goods a>h6:hover{
	background:#787ed3;
  }
 .goods a img{
 	display:block;
 	margin:40px auto 0;
 }
 .goods a h4{
	font-size:16px;
	font-weight:400;
	color:#424242;
	height:30px;
	line-height:30px;

 }
 .goods a span{
 	font-size:12px;
 	color:#b2b2b2;
 	height:20px;
 	line-height:20px;
 }
  .goods a p{
  	font-size:18px;
  	font-weight:600;
  	color:#de4037;
  	margin-top:75px;
  }
  .app{
  	width:1220px;
  	margin:0 auto;
  	margin-bottom:40px;

  }
  .app h1{
  	height:60px;
	line-height:60px;
	font-size:18px;
	font-weight:400;
	text-indent:26px;
	background:url(../images/login/dialog-radius-top-bg_f21c89014d1.png) repeat;
	border-bottom:1px solid #DBDBDB;
	color:#333333;
	text-align:left;
  }
  .app ul{
  	border-left:1px solid #ccc;
  	border-top:1px solid #ccc;
  	border-radius:10px;
  	overflow:hidden;
  	background:#fff;
  }
  .app ul li{
  	float:left;
  	width:303px;
  	height:314px;
  	border-right:1px solid #ccc;
  	border-bottom:1px solid #ccc;
  	text-align:center;
  	position:relative;
  }
  .app ul li div{
  	width:90px;
  	height:90px;
  	background:red;
  	margin:40px auto;
  }
  .app ul li:hover div{
  		background:url(../images/launcher-download.2508eb243fa44df3c58af4c8f7e8bf9d.jpg) no-repeat;
  		background-size:90px;
  }
.app ul li .app_pic1{
   	background:url(../images/app-icon-sprite.09cf0f99d091277532779a2b2971e708.png) left center no-repeat;
}
.app ul li .app_pic2{
   	background:url(../images/app-icon-sprite.09cf0f99d091277532779a2b2971e708.png) -180px center no-repeat;
}
.app ul li .app_pic3{
   	background:url(../images/app-icon-sprite.09cf0f99d091277532779a2b2971e708.png) -90px center no-repeat;
}
.app ul li .app_pic4{
   	background:url(../images/app-icon-sprite.09cf0f99d091277532779a2b2971e708.png) -270px  center no-repeat;
}
.app ul li h4{
	margin-top:20px;
}
.app ul li p{
	width:150px;
	margin:20px auto;
}
