*{
	margin:0;
	padding:0;
}
.clear:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.clear{zoom:1;}
body{
	font-size:14px;
	color:#666;
	background:#ededed;
}
li{
	list-style: none;
}
a{
	text-decoration:none;
	display:block;
}
.addSub{
	cursor:pointer;
	box-shadow:1px 1px 1px 1px #ccc;
}
.addSub:hover{
	background:#c1c1c1;
	box-shadow:1px 1px 2px 2px #ccc;
	
}
.shopCart{
	width:1220px;
	margin:30px auto;

	border-radius:10px;
	border:1px solid #DBDBDB;
	overflow:hidden;
	text-align:center;
	background:white;
	

}
.shopCart .picture{
	width:1220px;
	height:540px;
	background:url(../images/cart-empty.f25b2c8c8168313d570820fe359998c5.png) 474px 50px no-repeat #fff;
	overflow:hidden;
	display:none;
}
.shopCart h1{
	height:60px;
	line-height:60px;
	font-size:18px;
	font-weight:400;
	text-indent:26px;
	background:url(../images/login/dialog-radius-top-bg_f21c89014d1.png) repeat;
	border-bottom:1px solid #DBDBDB;
	color:#333333;
	text-align:left;
	
}
.shopCart>.picture>p{
	margin-top:384px;
	color:#8D8D8D;
}
.shopCart a{
	border:1px solid #E1E1E1;
	width:140px;
	height:46px;
	margin:20px auto;
	line-height:46px;
	color:#646464;
	border-radius:5px;
	background:#FAFAFA;
}
.shopCart .buy:hover{
	background:#EDEDED;
}
.lists{
	background:white;
}
.lists .info{
	height:39px;
	text-align:center;
	line-height:39px;
	border-bottom:1px solid #DBDBDB;
	background:#EEEEEE;

}
.lists .info span{
	width:137px;
	height:38px;
	float:right;
	font-size:10px;
}
.lists .info span:nth-of-type(1){
	float:left;
}
.info_goods{
	height:140px;
	margin:0 auto;
	line-height:140px;
	margin-left:74px;
}
.info_goods li{
	float:right;
	width:137px;
}
.info_goods li:nth-of-type(1){
	float:left;
	width:500px;
	text-align:left;
}
.info_goods li .picGoods{
	float:left;
	margin-top:42px;
	margin-right:20px;
}
.info_goods ul li:nth-of-type(3){
	font-weight:800;
}
.info_goods ul li span{
	display:inline-block;
	width:25px;
	height:25px;
	line-height:25px;
	border-radius:50%;
	border:1px solid #ccc;
	margin:10px;
}
.info_goods li .picGoods{
	width:84px;
	height:84px;
}
.info_goods li .picGoods img{
	width:84px;
	height:84px;
	border:1px solid #ccc;
	
}
.info_goods li .detaGoods{
	float:left;
	line-height:30px;
}
.info_goods li .detaGoods h4{
	margin-top:52px;
	font-weight:400;
	color:#333333;
}
.info_goods li .detaGoods p{
	font-size:12px;
	color:#999999;
}
.totalBuy{
	width:1220px;
	height:60px;
	border-top:1px solid #ccc;
	line-height:60px;
}
.totalBuy .buyNow{
	float:right;
	width:130px;
	height:50px;
	background:#688CE8;
	color:#FFFFFF;
	line-height:50px;
	text-align:center;
	border-radius:10px;
	font-size:15px;
	margin:10px;
}
.totalBuy .total{
	float:right;
	font-size:15px;
	color:#000;
}
.totalBuy .total span{
	color:#D44D44;
	font-weight:800;
	font-size:18px;
	margin-right:30px;
}